<div class="singup-div">
    <div class="topAppBar">
        <div class="header-signup">
            <div class="arrow-back">
                <span class="material-symbols-outlined">arrow_back</span>
            </div>
            <h2 class="title-signup">Employee Adding</h2>
        </div>
        <div class="head-text">
            <h1 class="account-text">Set Employee Password</h1>
            <p class="account-details">Please enter the password for the new employee</p>
        </div>
        <form action="" [formGroup]="passwordForm" class="signup-form">
            <div class="namefield">
                <p-floatlabel variant="on">
                    <input w-full pInputText type="password" class="form-input" formControlName="password">
                    <label for="password">Password</label>
                </p-floatlabel>

                <p-message severity="error" text="Required"
                    *ngIf="(passwordForm.controls['password'].dirty || passwordForm.controls['password'].touched) && passwordForm.get('password')?.errors?.['required']">
                </p-message>
            </div>

            <div class="namefield">
                <p-floatlabel variant="on">
                    <input pInputText type="password" formControlName="confirmPassword" class="form-input">
                    <label for="confirmPassword">Confirm Password</label>
                </p-floatlabel>
                <p-message severity="error" text="Required"
                    *ngIf="(passwordForm.controls['confirmPassword'].dirty || passwordForm.controls['confirmPassword'].touched) && passwordForm.get('confirmPassword')?.errors?.['required']">
                </p-message>
                <p-message severity="error" text="password cannot be different"
                    *ngIf="passwordForm.controls['password'].value !== passwordForm.controls['confirmPassword'].value">
                </p-message>
            </div>
            <div>
                <p-button [disabled]="passwordForm.invalid" [style]="{width: '100%'}" (click)="setPassword()"
                    class="signup-button" label="Sign Up">
                </p-button>
            </div>
        </form>
    </div>
</div>
<p-confirmDialog></p-confirmDialog>