<div class="singup-div">
    <div class="topAppBar">
        <div class="header-signup">
            <h2 class="title-signup">Employee Login</h2>
        </div>
        <div class="head-text">
            <h1 class="account-text">Login</h1>
            <p class="account-details">Please Your login and password </p>
        </div>
        <form action="" class="signup-form" [formGroup]="userForm">
            <div class="namefield">
                <p-floatlabel variant="on">
                    <input w-full pInputText type="email" class="form-input" formControlName="email">
                    <label for="email">Email</label>
                </p-floatlabel>
                <p-message severity="error" text="Required"
                    *ngIf="(userForm.controls['email'].dirty || userForm.controls['email'].touched) && userForm.get('email')?.errors?.['required']">
                </p-message>
                <p-message severity="error" text="Enter a valid email address"
                    *ngIf="(userForm.controls['email'].dirty || userForm.controls['email'].touched)&& userForm.get('email')?.errors?.['email']">
                </p-message>


            </div>

            <div class="namefield">
                <p-floatlabel variant="on">
                    <input pInputText type="password" formControlName="password" class="form-input">
                    <label for="password">Password</label>
                </p-floatlabel>
                <p-message severity="error" text="Required"
                    *ngIf="(userForm.controls['password'].dirty || userForm.controls['password'].touched) && userForm.get('password')?.errors?.['required']">
                </p-message>
            </div>
            <div>
                <p-button [disabled]="userForm.invalid" [style]="{width: '100%'}" (click)="login()"
                    class="signup-button" label="Login">
                </p-button>
            </div>
        </form>
    </div>
</div>
<p-confirmDialog></p-confirmDialog>