<div class="singup-div">
    <div class="topAppBar">
        <div class="header-signup">
            <div class="arrow-back">
                <span class="material-symbols-outlined">arrow_back</span>
            </div>
            <h2 class="title-signup">Sign Up</h2>
        </div>
        <div class="head-text">
            <h1 class="account-text">Create your Account</h1>
            <p class="account-details">Please enter your details to get started with our platform</p>
        </div>
        <form action="" class="signup-form">
            <div class="namefield">
                <label class="label_firstname" for="">
                    <p class="label_paragraph">first name</p>
                    <input type="text" placeholder="Enter your first name" class="form-input">
                </label>
            </div>

            <div class="namefield">
                <label class="label_firstname" for="">
                    <p class="label_paragraph">last name</p>
                    <input type="text" placeholder="Enter your last name" class="form-input">
                </label>
            </div>


            <div class="namefield">
                <label class="label_firstname" for="">
                    <p class="label_paragraph">email</p>
                    <input type="email" placeholder="Enter your email" class="form-input">
                </label>
            </div>

            <div class="namefield">
                <label class="label_firstname" for="">
                    <p class="label_paragraph">password</p>
                    <input type="password" placeholder="Enter your password" class="form-input">
                </label>
            </div>


            <div class="namefield">
                <label class="label_firstname" for="">
                    <p class="label_paragraph">password</p>
                    <input type="password" placeholder="confirm your password" class="form-input">
                </label>
            </div>
        </form>
    </div>
</div>