.search-input {
  width: 500px;
  display: flex;
  justify-content: center;
}
.header {
  display: flex;
  justify-content: space-between;
}
.search {
  display: flex;
  justify-content: center;
}

.buttons-header {
  display: flex;
  padding-left: 15em;
}
