<div class="header">
  <span>Good morning User Name</span>
  <div class="buttons-header">
    <p-button [style]="{marginRight: '2em'}" label="Add Employee" routerLink="/auth/add-employee"></p-button>
    <p-button severity="danger" label="sign Out" routerLink="/auth/add-employee"></p-button>
  </div>
</div>
<div class="search">
  <input #searchInput class="search-input" pInputText type="text" placeholder="Search"
    (input)="onSearchChange(searchInput.value)" />
</div>


<p-table [value]="users()" [loading]="loading()" [paginator]="true" [rows]="10" responsiveLayout="scroll">
  <ng-template pTemplate="header">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>occupation</th>
      <th>tenure</th>
      <th>Rôle</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-user>
    <tr>
      <td>{{ user.first_name }}</td>
      <td>{{ user.last_name }}</td>
      <td>{{ user.phone_number }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.profession }}</td>
      <td>
        {{  calculateTenure(user.hiring_date)}}
      </td>
      <td>{{ user.role }}</td>
    </tr>
  </ng-template>
</p-table>

<p *ngIf="loading()">Loading...</p>
<p *ngIf="error()">{{ error() }}</p>